<h1>Vonage Rock Paper Scissors Swag Game</h1>
<%= image_tag("meet-the-voyagers.png", :alt => "Vonage Voyagers") %>
<p>Welcome to the Vonage Rock Paper Scissors Swag Game!</p>
<p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Click the button below to start playing!</p> 
<%= link_to 'Get Started', new_player_path, class: 'button' %>
