<h1>Vonage Rock Paper Scissors Swag Game</h1>
<%= image_tag("meet-the-voyagers-image.png", :alt => "Vonage Voyagers") %>
<p>Welcome to the Vonage Rock Paper Scissors Swag Game!</p>
<p>Play one of the <a href="/voyagers">Vonage Voyagers</a> at rock, paper, scissors to win some awesome swag!</p>
<p>The rules are: rock beats scissors, scissors beats paper, and paper beats rock. In the event of a tie, you choose again.</p>
<p>The game is built using Vonage's communication APIs. You can read about how we built it on our <a href="">blog</a>!</p>
<p>Click the button below to start playing. Good luck!</p>
<%= link_to 'Get Started', new_player_path, class: 'button' %>
