<h1>Meet the Vonage Voyagers</h1>

<article>
<h2>Andi</h2>
<aside>
<%= image_tag("voyagers-andi.png", :alt => "Vonage Voyagers: Andi") %>
</aside>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum pellentesque turpis, sit amet auctor magna vehicula a. Donec non leo non lacus accumsan pretium mattis at nulla. Sed venenatis maximus auctor. Vivamus dapibus sem nec laoreet auctor.</p>
</article>

<article>
<h2>Ruby</h2>
<aside>
<%= image_tag("voyagers-ruby.png", :alt => "Vonage Voyagers: Ruby") %>
</aside>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum pellentesque turpis, sit amet auctor magna vehicula a. Donec non leo non lacus accumsan pretium mattis at nulla. Sed venenatis maximus auctor. Vivamus dapibus sem nec laoreet auctor.</p>
</article>

<article>
<h2>VAI</h2>
<aside>
<%= image_tag("voyagers-VAI.png", :alt => "Vonage Voyagers: Vai") %>
</aside>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum pellentesque turpis, sit amet auctor magna vehicula a. Donec non leo non lacus accumsan pretium mattis at nulla. Sed venenatis maximus auctor. Vivamus dapibus sem nec laoreet auctor.</p>
</article>