<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= player.phone_number %>
  </p>

  <p>
    <strong>Terms and conditions accepted:</strong>
    <%= player.terms_and_conditions_accepted %>
  </p>

</div>
